apiVersion: v1
kind: Secret
metadata:
  name: sensorix-secrets
type: Opaque
stringData:
  db-password: "REPLACE_WITH_YOUR_MYSQL_ROOT_PASSWORD"
  jwt-secret: "REPLACE_WITH_YOUR_JWT_SECRET_MIN_32_CHARS"